@model Aosch.MES.Model.Account
@{
    ViewBag.Title = "系统用户管理";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Bootstrap-Table/bootstrap-table.min.css" rel="stylesheet" />
<link href="~/Content/Bootstrap-Table/Bootstrap-Editable/bootstrap-editable.css" rel="stylesheet" />
<body style="overflow-x:hidden; background-color:white;">
    <section style="padding:20px;">
        <div class="container-fluid">
            <div class="row" style=" padding-left:20px;padding-right:20px;">
                <div class="nav nav-tabs-justified">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#AccountTab" data-toggle="tab"><i class="fa  fa-windows"></i>&nbsp;系统用户管理</a></li>
                        <li><a href="#AddAccountTab" data-toggle="tab"><i class="fa fa-file-excel-o"></i>&nbsp; 添加系统用户</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="AccountTab">
                            <table id="AccountListTable" data-search="true" data-show-refresh="true" data-show-export="true"></table>
                        </div>
                        <div class="tab-pane" id="AddAccountTab">
                            @using (Ajax.BeginForm("AddAccount", "System", new { }, new AjaxOptions { HttpMethod = "post", OnSuccess = "AfterAdd" }, new { id = "form-add", name = "form-add", @class = "form-horizontal" }))
                            {
                                <div class="row" style="padding-top:100px;">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">

                                        <div class="form-group">
                                            <label for="inputSkills" class="col-sm-1 control-label">角色：</label>
                                            <div class="col-sm-4">
                                                @Html.DropDownListFor(m => m.RoleID, ViewBag.RoleSelectList as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputSkills" class="col-sm-1 control-label">账号：</label>
                                            <div class="col-sm-4">
                                                @Html.DropDownListFor(m => m.Username, ViewBag.EmployeeSelectList as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputSkills" class="col-sm-1 control-label">密码：</label>
                                            <div class="col-sm-4">
                                                @Html.PasswordFor(m => m.Password, new { placeholder = "6~16有效字母", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputSkills" class="col-sm-1 control-label">重复密码：</label>
                                            <div class="col-sm-4">
                                                <input class="passwordBox form-control " id="Repassword" name="Repassword" type="password" placeholder="两次密码必须相同">
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                <label for="inputSkills" class="col-sm-1 control-label">IC卡号：</label>
                                                <div class="col-sm-4">
                                                    @Html.TextBoxFor(m => m.ICNumber, new { placeholder = "请连接IC读卡器...", @class = "form-control" })
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <label for="inputSkills" class="col-sm-1 control-label">登录主页：</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(m => m.HomePage, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputSkills" class="col-sm-1 control-label">启用：</label>
                                            <div class="col-sm-2">
                                                @Html.DropDownListFor(m => m.Status, ViewBag.StatusSelectList as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputSkills" class="col-sm-1 control-label">备注：</label>
                                            <div class="col-sm-8">
                                                @Html.TextAreaFor(m => m.Description, new { placeholder = "随便说点什么吧 8/500....", @class = "form-control", @rows = "4" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group col-md-offset-1 ">
                                                <span class="input-group-btn ">
                                                    <button type="submit" class="btn btn-primary">添  加  用  户</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            }


                        </div>
                    </div>
                </div>

                <!--员工详情Modal-->
                <div class="modal fade" id="AccountDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">x</span>
                                </button>
                                <h5 class="modal-title" id="myModalLabel">员工详情</h5>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="HiddenAccountID" name="HiddenAccountID" />
                                <div class="EmployeeDetailDiv">
                                    <table>
                                        <tr>
                                            <td>ID</td>
                                            <td><span class="" id="ID"></span></td>
                                            <td>帐号</td>
                                            <td><span class="" id="EmployeeName"></span></td>
                                            <td>姓名</td>
                                            <td><span class="" id="NickName"></span></td>
                                            <td>性别</td>
                                            <td><span class="" id="EmployeeName"></span></td>
                                            <td>电话</td>
                                            <td><span class="" id="EmployeeName"></span></td>
                                        </tr>

                                        <tr>
                                            <td>部门</td>
                                            <td><span class="" id="ID"></span></td>
                                            <td>组别</td>
                                            <td><span class="" id="EmployeeName"></span></td>
                                            <td>电话</td>
                                            <td><span class="" id="NickName"></span></td>
                                            <td>生日</td>
                                            <td><span class="" id="EmployeeName"></span></td>
                                            <td>邮箱</td>
                                            <td><span class="" id="EmployeeName"></span></td>
                                        </tr>

                                        <tr>
                                            <td>地址</td>
                                            <td><span class="" id="ID"></span></td>
                                            <td>身份证</td>
                                            <td><span class="" id="EmployeeName"></span></td>
                                            <td>职位</td>
                                            <td><span class="" id="NickName"></span></td>
                                            <td>状态</td>
                                            <td><span class="" id="EmployeeName"></span></td>
                                            <td>录入人</td>
                                            <td><span class="" id="EmployeeName"></span></td>
                                        </tr>

                                        <tr>
                                            <td>备注</td>
                                            <td colspan="5"></td>

                                        </tr>
                                    </table>




                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-primary" data-dismiss="modal" value="确定" />
                            </div>
                        </div>
                    </div>
                </div>


                @*<!--confirmModal-->
                    <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">员工操作</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" id="HiddenAccountID" name="HiddenAccountID" />
                                    <p>是否删除当前帐户(一旦删除无法返回)&hellip;</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="DelAccountBtn()"> 删 除 </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->*@

            </div>
        </div>
    </section>



</body>
<script src="~/Scripts/Common.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryAjax")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/Bootstrap-Table/bootstrap-table.min.js"></script>
<script src="~/Scripts/Bootstrap-Table/extensions/editable/bootstrap-table-editable.min.js"></script>
<script src="~/Scripts/Bootstrap-Table/Bootstrap-Editable/bootstrap-editable.js"></script>
<script src="~/Scripts/Bootstrap-Table/locale/bootstrap-table-zh-CN.min.js"></script>
<script>
    function AfterAdd(data) {
        if (data.Status == "OK") {
            alert("添加成功");

        } else {
            alert("添加失败");
        }
    }

    window.OperateEvents = {
        'click .AccountEdit': function (e, value, row, index) {
            alert('You click like action, row: ' + JSON.stringify(row));
        },
        'click .AccountDel': function (e, value, row, index) {
            ////向模态框中传值
            //$('#HiddenAccountID').val(row.ID)

            //在数据库中删除
            $.post("/System/DeleteAccount", { ID: row.ID }, function (data) {
                if (data.Status == "OK") {
                    $("#AccountListTable").bootstrapTable('remove', {
                        field: 'ID',
                        values: [row.ID]
                    });
                    alert("删除成功！");
                } else {
                    alert(data.Message);
                    return;
                }


            }, "json");
        },
        'click .Account': function (e, value, row, index) {

        },
    };
    window.showmodalevents = {
        'click .ShowEmpDetailModal': function (e, value, row, index) {
            var Employee = null
            $.ajax({
                url: '/System/GetEmployeeDetailByID',
                async: false,
                type: "post",
                data: { EmployeeID: value },
                success: function (data) {
                    Employee = data;
                }
            });
            $("#IDCardNumber").val(Employee.IDCardNumber);
            $('#AccountDetailModal').modal("toggle");
        },
    };
    function UpdateAccountColumn(account) {
        account.RegisterTime = changeDateFormat(account.RegisterTime);
        $.post("/System/UpdateAccount", { AccountModel: account }, function (data) {
            if (data.Status == "OK") {
                $("#EmployeeListTable").bootstrapTable('refresh'),
                alert("更新成功！");
            } else {
                alert(data.Message);
            }
        }, "json")


    }

    $(function () {
        $.fn.editable.defaults.mode = 'inline'; //行内编辑
        $('#AccountListTable').bootstrapTable({
            url: '/System/GetAllAccountJson',
            method: 'post',
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            columns: [{ checkbox: true },
            { field: 'ID', title: 'ID', align: 'center', sortable: true, rowspan: 1, },
            {
                field: 'RegisterTime', title: '注册时间', align: 'center', sortable: true, rowspan: 1, formatter: function myfunction(value, row, index) { //日期格式化                
                    return changeDateFormat(value);
                }
            },
            { field: 'Username', title: '帐号', align: 'center', sortable: true },
            {
                field: 'RoleID', title: '角色', align: 'center', sortable: true,
                editable: {
                    type: 'select',                  
                    source: function () {
                        var result = [];
                        $.ajax({
                            url: '/System/GetAllRoleSelectJson',
                            async: false,
                            type: "post",
                            data: {},
                            success: function (data) {
                                $.each(data, function (i, item) {
                                    result.push({ value: item.ID, text: item.RoleName, selected: "selected" });
                                });
                            }
                        });
                        return result;
                    },
                    validate: function (value) { //字段验证
                        if (!value) return '不能为空';
                        var data = $("#AccountListTable").bootstrapTable('getData'),
                            index = $(this).parents('tr').data('index');
                        data[index].RoleID = value;
                        //执行修改数据方法
                        UpdateAccountColumn(data[index]);
                        return '';
                    },

                },
            },

            {
                field: 'EmployeeID', title: '员工详情', align: 'center', sortable: true,
                formatter: function (value, row, index) {
                    var nickname = "";
                    $.ajax({
                        url: '/System/GetEmployeeDetailByID',
                        async: false,
                        type: "post",
                        data: { EmployeeID: value },
                        success: function (data) {
                            nickname = data.NickName;
                        }
                    });
                    return '<a href="javascript:void(0)"   class="ShowEmpDetailModal" title="' + nickname + '">' + nickname + '</a>';
                },
                events: showmodalevents,

            },
            {
                field: 'ICNumber', title: 'IC卡号', align: 'center', sortable: true,
            },

            {
                field: 'HomePage', title: '主页', align: 'center', sortable: true,
            },
            {
                field: 'Status', title: '状态', align: 'center', sortable: true,
                editable: {
                    type: 'select',
                    source: [{ value: "0", text: "禁用" }, { value: "1", text: "启用" }],
                    validate: function (value) { //字段验证
                        if (!value) return '不能为空';
                        var data = $("#AccountListTable").bootstrapTable('getData'),
                            index = $(this).parents('tr').data('index');
                        if (value == "0") {
                            data[index].Status = "false";
                        } else {
                            data[index].Status = "true";
                        }
                        //执行修改数据方法
                        UpdateAccountColumn(data[index]);
                        return '';
                    },
                }
            },
            {
                field: 'Description', title: '备注', align: 'center', sortable: true,
                editable: {
                    type: 'text',                    
                    validate: function (value) { //字段验证
                        if (!value) return '不能为空';
                        var data = $("#AccountListTable").bootstrapTable('getData'),
                            index = $(this).parents('tr').data('index');
                        data[index].Description = value;
                        //执行修改数据方法
                        UpdateAccountColumn(data[index]);
                        return '';
                    },
                }
            },



            {
                field: '', title: '操作', align: 'center',
                formatter: function () {
                    return [
                        '<a class="RolePermission" href="javascript:void(0)" title="分配权限">',
                        '<i class="glyphicon glyphicon-lock"></i>',
                        '</a>  ',
                        '<a class="AccountEdit" href="javascript:void(0)" title="修改">',
                        '<i class="glyphicon glyphicon-edit"></i>',
                        '</a>  ',
                        '<a class="AccountDel" href="javascript:void(0)" title="删除">',
                        '<i class="glyphicon glyphicon-trash"></i>',
                        '</a>'
                    ].join('');

                },
                events: OperateEvents
            }

            ],
            pagination: true,
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
            pageSize: 18,                       //每页的记录行数（*）
            pageList: [10, 25, 50, 100], //如果设置了分页，设置可供选择的页面数据条数。设置为 All 或者 Unlimited

        });
    })




</script>


